{% extends "base.html" %}
{% block title %}
Home Page
{% endblock title %}
{% load static %}

    
    
{% comment %}  
<style>   
    .img-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        
        
    }
    .img-container .photo{
        width: 400px;
        height: 300px;
        
        
    }
    .img-container .photo:hover{
        filter:grayscale(1);
        transform: scale(-0.8) 
        

    }
    .photo .description{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0,0,0,0.8);
        color: white;
        padding: 24px;
        display: none;
        opacity: 0;
        transition: opacity 0.3s;
      }
      .photo:hover.description{
        display: block;
        opacity: 1;
      }
    

</style> {% endcomment %}

{% block content %}
<div class='home-container'>
<h4 class="main-heading">Photo Paradise</h4>
<p>Explore the beauty of Nature and Photography</p>
<p>A picture is worth a thousand words ,but a moment is worth a lifetime.</p>
<p>Feel free to add more content to this page as needed.</p>
</div>

<h4>Some popular images:</h4>
<br>
 <div class='img-container'>
     
    <a href="{% url 'nature'%}"><img src="static/images/nature/nature-2.jpg" class='photo'>
        <span class="description">this is description</span>

    </a>
    <a href="{% url 'art'%}"><img src="static/images/art/art-5.jpg" class='photo'>
        <span class="description">this is description</span>
    </a>
    <a href="{% url 'background'%}"><img src="static/images/background/background-2.jpg" class='photo'>
        <span class="text-over">Nature</span>

    </a>
    <a href="{% url 'landscape'%}"><img src="static/images/landscape/landscape-3.jpg" class='photo'>
        <span class="text-over">Nature</span>

    </a>
    <a href="{% url 'fantasy'%}"><img src="static/images/fantasy/fantsy-2.jpg" class='photo'>
        <span class="text-over">Nature</span>

    </a>
    <a href="{% url 'love'%}"><img src="static/images/love/love-2.jpg" class='photo'>
        <span class="text-over">Nature</span>

    </a>
            
    <a href="{% url 'snow'%}"><img src="static/images/snow/snow-3.jpg" class='photo'>
        <span class="text-over">Nature</span>

    </a>
            
    <a href="#"><img src="static/images/sunlight/sunlight-2.jpg" class='photo'>
        <span class="text-over">Nature</span>

    </a>
            
    <a href="{% url 'forest'%}"><img src="static/images/forest/forest-2.jpg" class='photo'>
        <span class="text-over">Nature</span>

    </a>
    <a href="{% url 'wildlife'%}"><img src="static/images/wildlife/animals-1.jpg" class='photo'>
        <span class="text-over">Nature</span>

    </a>
    <a href="{% url 'food'%}"><img src="static/images/food & drink/dessert-3.jpg" class='photo'>
        <span class="text-over">Nature</span>

    </a>
    
</div>






{% endblock content %}


<!--class="rounded-circle"-->
{% comment %} class="rounded-circle" {% endcomment %}